<h3>{{ legend }} - {{ percent }}</h3>

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="decrement(5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
  <input type="number" #input class="form-control" name="percent" [(ngModel)]="percent" (ngModelChange)="onChange($event)" min="0"  max="100">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="increment(5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </span>
</div>
