<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <input id="" name="" #input type="text" (keyup)="search(input.value)" class="form-control"
          placeholder="Buscar usuario">
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="loading">
  <div class="col">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere for favor</span>
    </div>
  </div>
</div>

<!-- Table -->
<div class="row" *ngIf="!loading">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          Usuarios registrados (<small>{{ total }}</small>)
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Correo</th>
              <th>Nombre</th>
              <th>Role</th>
              <th>Auth</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td style="width: 70px">
                <img [src]="user.img | image" class="img-fluid w-75 img-circle" alt="Imagen de usuario"
                  (click)="showModal(user._id)">
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.name }}</td>
              <td>
                <div class="form-group">
                  <label for=""></label>
                  <select class="form-control" [(ngModel)]="user.role" name="" id="">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </div>
              </td>
              <td>
                <label *ngIf="user.google" class="label label-danger">Google</label>
                <label *ngIf="!user.google" class="label label-info">Normal</label>
              </td>
              <td>
                <button type="button" class="btn btn-primary mr-1" (click)="save(user)">
                  <i class="fa fa-save"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="delete(user._id)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="changeFrom(-5)" type="button" class="btn btn-secondary">Anteriores</button>
        <button (click)="changeFrom(5)" type="button" class="btn btn-secondary">Siguientes</button>
      </div>
    </div>
  </div>
</div>
